@charset "utf-8";
/* CSS Document */

#items .items {
	height: 180px;
    background-color:#c75499 !important;
	margin-top:310px;

}
#items .items .slick-slide{
	height:170px;
		margin-top:-37px;
		background-color:#c75499 !important;
}

#items .items .slick-slide img {
    width: 55%;
    border: 0px solid #c75499 !important;
	margin-left:20%;
	margin-top:-20px;
;
}

